src/main/resources/Employee.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="employee">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="id" type="xs:string"/>
 <xs:element name="name" type="xs:string"/>
 <xs:element name="joiningDate" type="xs:date"/>
 <xs:element name="department" type="departmentType"/>
 </xs:sequence>
    </xs:complexType>
</xs:element>
<xs:simpleType name="departmentType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="hr"/>
      <xs:enumeration value="fin"/>
      <xs:enumeration value="it"/>
 <xs:enumeration value="ops"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>